<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCETgfAd9oB-dA4-t6EsAnqv6daD4jO-o</string>
	<key>GCM_SENDER_ID</key>
	<string>836738944729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zettastack.ChatApp-Demo</string>
	<key>PROJECT_ID</key>
	<string>chatapp-demo-e5160</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-demo-e5160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836738944729:ios:48c93ac9741aff0e0d78c8</string>
</dict>
</plist>